/node_modules
/lib
/dist
/fabric
/bin
/builders
/config
/docs

/.idea
/.token
/.npmtoken
/.dockertoken
/.confluence-token
!.gitkeep

/workdocs/drawings/*
!/workdocs/drawings/*.drawio
/workdocs/resources/*
/workdocs/reports/*
!/workdocs/reports/data
/workdocs/reports/data/*
!/workdocs/reports/data/.gitkeep
!/workdocs/reports/jest.report.config.ts
/workdocs/uml/*
!/workdocs/uml/*.puml